/* AdminMenu.css */

/* Styles for the sidebar */
.admin-sidebar {
  background-color: #2c3e50;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Styles for the content area */
.content {
  margin-left: 250px;
  padding: 20px;
}

/* Button styles */
.add-menu {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.add-menu:hover {
  background-color: #219653;
}

/* Modal styles */
.menu-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 80%;
  width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Modal close button */
.menu-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #777;
  cursor: pointer;
}

.menu-modal-close:hover {
  color: #333;
}

/* Form styles */
.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
  border-color: #27ae60;
}

/* Submit button styles */
.menu-submit {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.menu-submit:hover {
  background-color: #219653;
}

/* Menu items container */
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Menu item styles */
.menu-item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(33.33% - 20px);
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.menu-item p {
  margin: 5px 0;
}

/* Edit and delete button styles */
.menu-item-btns button {
  background-color: transparent;
  border: none;
  color: #777;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.menu-item-btns button:hover {
  color: #333;
}
