.cartbody {
  background-color: rgb(49, 47, 47);
  color: whitesmoke;
  min-height: 63rem;
}
.classbody-heading {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.classbody-heading h2 {
  color: goldenrod;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 17rem;
}
.classbody-heading button {
  padding: 5px;
  border-radius: 4px;
  font-size: 20px;
  margin-left: 30rem;
}
.cart-box {
  padding-left: 4rem;
  padding-top: 2rem;
  border-radius: 5px;
  background-color: #464242;
  box-shadow: 2px 2px solid black !important;
}
.cart-price {
  font-size: 1.5rem;
}
.qty-input {
  width: 2rem;
}
.imgcart-box button {
  margin-left: 3rem;
  padding: 5px;
  border-radius: 4px;
  font-size: 20px;
}
.imgcart-box img {
  width: 8rem;
  height: 5rem;
}
