*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: url(../assets/rest.png) rgba(0,0,0,0.5);
background-blend-mode: multiply;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.social ul li{
  list-style-type: none;
}

.social ul{
  display: flex;
  gap: 2em;
  padding: 0;
}

p {
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.5px;
text-shadow: 4px 4px 10px rgb(0, 0, 0);
}

span {
font-size: 12px;
}

a {
color: #333;
font-size: 14px;
text-decoration: none;
margin: 15px 0;
}

button {
border-radius: 20px;
border-color: #52c0e5;
background: #4157ff;
background: -webkit-linear-gradient(to right, #ff2bd1, #4157ff);
background: linear-gradient(to right,#ff2bf1b4, #4157ff);
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}

button:active {
transform: scale(0.95);
}


button.butt {
background-color: transparent;
border-color: #FFFFFF;
}

form {
background-color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 50px;
height: 100%;
text-align: center;
}

input {
background-color: #eee;
border: none;
padding: 12px 15px;
margin: 8px 0;
width: 100%;
}

.inp input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  height: 40px;
  width: 90%;
  }
  
p1{
  font-size: small;
  font-weight: 400;
  padding: 10px;
}

.container {
background-color: #fff;
border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
position: relative;
overflow: hidden;
width: 768px;
max-width: 100%;
min-height: 480px;
}

.form-con {
position: absolute;
top: 0;
height: 100%;
  transition: all 0.6s ease-in-out;
}

.signin_container {
left: 0;
width: 50%;
z-index: 2;
}

.signup_container {
left: 0;
width: 50%;
opacity: 0;
z-index: 1;
background-color: white;
}

.overlay-container {
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
z-index: 100;
  transition: transform 0.6s ease-in-out;
}

.overlay {
background: url(../assets/noodle.jpg) rgba(0,0,0,0.2);
background-blend-mode: multiply;
background-size: cover;
color: #FFFFFF;
position: relative;
left: -100%;
height: 100%;
width: 200%;
  transform: translateX(0);
transition: transform 0.6s ease-in-out;
}

.panel {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
top: 0;
height: 100%;
width: 50%;
transform: translateX(0);
transition: transform 0.6s ease-in-out;
}

.overlay-left {
transform: translateX(-20%);
}

.overlay-right {
right: 0;
transform: translateX(0);
}



.container.right-panel-active .signin_container {
transform: translateX(100%);
}

.container.right-panel-active .overlay-container{
transform: translateX(-100%);
}

.container.right-panel-active .signup_container {
transform: translateX(100%);
opacity: 1;
z-index: 5;
animation: show 0.6s;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
transform: translateX(0);
}

.container.right-panel-active .overlay-right {
transform: translateX(20%);
}

@media (max-width: 800px){
.container{
  scale: .75;
}
}

@media(max-height:700px){
.container{
  min-height: 350px;
}
form{
  scale: .75;
  padding: 0px 20px;
} 
button,h1{
  scale: .75;
}
.overlay-left,.overlay-right{
  padding: 0px 20px;
}
}

.container{
  animation: growin 3s cubic-bezier(0.075, 0.82, 0.165, 1)forwards;
  transform: scale(.4);
}

@keyframes growin {
  to{
      transform: scale(1);
  }
}

