a:focus,
a:hover,
a {
  outline: none;
  text-decoration: none;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-top i {
  font-size: 18px;
}

.nav-ul li a {
  display: flex;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #0e1a35;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.display-table {
  display: table;
  position: sticky;
  padding: 0;
  height: 100%;
  width: 100%;
}

.display-table-row {
  display: table-row;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
}

.v-align {
  vertical-align: top;
}
.logo img {
  max-width: 180px;
  padding: 16px 0 17px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.navi i {
  font-size: 26px;
  margin-right: 15px;
  color: #5584ff;
}

.logo {
  text-align: center;
}

.navi a {
  border-bottom: 1px solid #0d172e;
  border-top: 1px solid #0d172e;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 500;
  padding: 28px 20px;
  text-decoration: none;
}

.navi .active {
  background: #122143;
  border-left: 5px solid #5584ff;
  padding-left: 15px;
}

.navi a:hover {
  background: #122143 none repeat scroll 0 0;
  border-left: 5px solid #5584ff;
  display: block;
  padding-left: 15px;
}

.hidden-xs {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
