.image-box img{
    height: 6rem;
   border-radius: 9px;
   align-items: center;
   justify-content: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
  
   
}
.ar{
    font-size: large;
}